<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="splash">
  <div class="container">
    <ion-row>
      <ion-col class="center logo">
        <ion-img src="/assets/icon/logo-blanco.png" class="log"></ion-img>
      </ion-col>
    </ion-row>

  <div class="center">
    <h1>Por ser cliente Claro puedes tener CINE CLUB!</h1>
  </div>

  <ul class="beneficios center">
    <li class="white">Cartelera de Cines actualizada</li>
    <li class="white">Grandes Sorteos</li>
  </ul>

  <div class="center ">
    <button type="button" class="button button-default" name="button" ng-click="siaSusc()" >UNIRSE AHORA</button>
  </div>
  <div class="center">
    <a style="color: white;" class="button button-full button-clear white" name="button" href="interfas">SALTAR ESTE PASO</a>
  </div>
  </div>
</ion-content>
